replicaCount: 1

image:
  repository: quay.io/prometheus/alertmanager
  pullPolicy: IfNotPresent
  tag: ""

serviceAccount:
  create: true
  annotations: {}
  name: "alertmanager"

podSecurityContext:
  fsGroup: 65534

securityContext:
  runAsUser: 65534
  runAsNonRoot: true
  runAsGroup: 65534

service:
  type: ClusterIP
  port: 9093
  clusterPort: 9094

resources: {}

podAnnotations:
  vault.hashicorp.com/agent-inject: "true"
  vault.hashicorp.com/role: "alertmanager-role"
  vault.hashicorp.com/agent-inject-secret-alertmanager.yml: "kv/data/alertmanager"
  vault.hashicorp.com/agent-inject-template-alertmanager.yml: |
    {{- with secret "kv/data/alertmanager" -}}
    global:
      resolve_timeout: 5m
    
    route:
      group_by: ['alertname']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 1h
      receiver: 'slack-notifications'
    
    receivers:
    - name: 'slack-notifications'
      slack_configs:
      - api_url: "{{ .Data.data.slack_webhook_url }}"
        channel: '#alert-manager-testing'
        send_resolved: true
        title: '{{ "{{" }} if eq .Status "firing" {{ "}}" }}:fire: {{ "{{" }} .CommonLabels.alertname {{ "}}" }}{{ "{{" }} else {{ "}}" }}:white_check_mark: {{ "{{" }} .CommonLabels.alertname {{ "}}" }}{{ "{{" }} end {{ "}}" }}'
    
    inhibit_rules:
    - source_match:
        severity: 'critical'
      target_match:
        severity: 'warning'
      equal: ['alertname', 'dev', 'instance']
    {{- end }}
  traffic.sidecar.istio.io/excludeInboundPorts: "8200,8201"
  traffic.sidecar.istio.io/excludeOutboundPorts: "8200,8201"
  sidecar.istio.io/inject: "false"

# IMPORTANT: Keep config disabled since we're using Vault
config:
  enabled: false

# IMPORTANT: Tell Alertmanager to read from Vault's location
extraArgs:
  config.file: "/vault/secrets/alertmanager.yml"

# IMPORTANT: Disable configmapReload since we're not using ConfigMap
configmapReload:
  enabled: false

persistence:
  enabled: true
  storageClass: "gp2"
  accessModes:
    - ReadWriteOnce
  size: 1Gi

readinessProbe:
  httpGet:
    path: /-/ready
    port: http
  initialDelaySeconds: 30
  periodSeconds: 5

livenessProbe:
  httpGet:
    path: /-/healthy
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10