replicaCount: 1

image:
  repository: 591234613960.dkr.ecr.us-east-1.amazonaws.com/nginx-test
  pullPolicy: Always
  tag: "1.0.0"

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi